.post {
  width: 100%;
  height: 7.5rem;
  border-radius: 0.5rem;
  padding: 0 1.2rem;
  margin-top: 1rem;
  background-color: rgba(230, 230, 250, 0.4);
  margin-bottom: 4rem;
}
.post .post-details {
  display: flex;
  justify-content: space-between;
  gap: 0 1rem;
  padding: 0.75rem 0;
  border-bottom: 0.09rem solid lightgray;
}
.post .post-details .img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: linear-gradient(135deg, lightgreen, lightcoral);
}
.post .post-details .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post .post-details input {
  flex-grow: 1;
  border-radius: 5rem;
  border: none;
  outline: none;
  background-color: lavender;
  padding: 0 1.2rem;
}
.post .post-details button {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  background-color: lightgreen;
  border-radius: 5rem;
  letter-spacing: 1px;
}

.post .post-content {
  display: flex;
  justify-content: space-around;
  padding: 0.9rem 0;
}
.post .post-content span {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.post .post-content span.red {
  color: coral;
}
.post .post-content span.green {
  color: green;
}
.post .post-content span.yellow {
  color: yellow;
}

.post .post-content .text {
  color: #444;
  font-size: 1rem;
  font-weight: 500;
}

.photo {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
